@import '~bootstrap/dist/css/bootstrap.min.css';

.end-time-text {
    float: right;
}

.start-time-text {
    float: left;
}

.process-name-text {
    margin-right: 1px;
    text-align: center;
}

.process-time-block {
    border: 1px solid black;
    margin-right: 1px;
    display: inline-block;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
